@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    background-image: url(https://cdn.discordapp.com/attachments/764062693124341760/860801817311313920/ella.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    position: static;
    display: block;
    overflow: visible;
    height: auto;
    min-height: 850px;
}
.h1-contact{
    padding-top: 50px;
    margin-bottom: 70px;
    color: rgb(83,73,237);
    color: #5349ed;
    font-weight: bold;
}
.h3-contact{
    color: #5349ed;
}
.info p{
    color: black;
}
.name{
    background-color: whitesmoke;
    border: 1px solid grey;
    color: black;
    width: 45%;
    height: 70px;
    padding: 6px;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 11px;
}
.email{
    background-color: whitesmoke;
    border: 1px solid grey;
    color:black;
    width: 45%;
    height: 70px;
    padding: 6px;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 11px;
}
.subject{
    background-color: whitesmoke;
    border: 1px solid grey;
    color: black;
    width: 93.5%;
    height: 70px;
    padding: 6px;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.comment{
    background-color: whitesmoke;
    border: 1px solid grey;
    color: black;
    width: 93.5%;
    padding: 12px;
    font-size: 15px;
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
    border-radius: 8px;
    margin-bottom: 20px;
}
.btn-send{
    background-color: whitesmoke;
    border: 2px solid black;
    width: 93.5%;
    height: 46px;
    margin: auto;
    cursor: pointer;
    border-radius: 8px;
    color: #5349ed;
    font-weight: bold;
}
.name:hover{
    border-color:whitesmoke;
}
.email:hover{
    border-color:whitesmoke;
}
.subject:hover{
    border-color:whitesmoke;
}
.comment:hover{
    border-color:whitesmoke;
}
.btn-send:hover, .btn-send:active{
    background: rgb(83,73,237);
    color: whitesmoke;
}
.sosmed{
    background: rgb(190,190,190);
    background: linear-gradient(0deg, rgba(190,190,190,0.6530987394957983) 100%, rgba(232,231,255,1) 100%);
    color: black;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    font-weight: bolder;
    cursor: pointer;
}
.h6-contact:hover{
    color: #5349ed;
}

.contact{
    margin-bottom: 222px;
}
.h5-contact{
    padding-bottom: 20px;
}
.h2-contact span{
    margin-top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #5349ed;
}
.sosmed i{
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.link {
    padding-bottom: 20px;
    text-decoration: none;
    color:black;
    font-weight: bolder;
}

.alert{
    width: 93.5%;
}
.spinner{
    width: 93.5%;
    color: black;
}

@media screen and (max-width :600px) {
    .col-5
    {
        width: 100%;
    }
    .input
    {
        width: 100%;
    }
    .info
    {
        text-align: center;
        width: 100%;
    }
    .sosmed col 
    {
        width: 100%;
    }
    .csosmed, .cmenu-1, .cmenu-2 , .cmenu-3
    {
        width: 100%;
    }
    .ctitel
    {
        width: 100%;
        text-align: center;
    }
}