@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body{
    background-color: #e8e7ff;
    font-family: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


.menu-btn{
    position: absolute;
    top: 15px;
    left: 260px;
    height: 45px;
    width: 45px;
    text-align: center;
    background-color:white;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
    position: sticky;
}

.menu-btn.click{
    left: 45px;
}

.menu-btn span{
    font-size: 28px;
    line-height: 45px;
}

.menu-btn.click span:before{
    content: '\f00d';
}

.sidebar{
    top: 0px;
    background-color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0px;
    transition: left 0.4s ease;
}

.sidebar.show{
    left: -250px;
}

.title{
    color: black;
    text-align: center;
    height:  15%;
    padding-top: 10px;
    font-size: 35px;
}

.title span{
    color: #5349ed;
    font-family: 'Dancing Script', cursive;
}

.menu{
    height: 75%;
    padding-left: 25px;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.menu ul{
    list-style-type: none;
}

.sub-menu{
    text-decoration: none;
}

.sub-menu:visited{
    color: black;
    padding-left: 10px;
}

.sub-menu:hover{
    color: #5349ed;
    padding-left: 10px;
}

.account{
    height: 10%;
    padding-left: 25px;
    line-height: 50px;
    font-size: 20px;
    
}

.account a{
    text-decoration: none;
    color: black;
}


.account a:visited{
    color: black;
    padding-left: 10px;
}


/* new */
.mainbar {
    margin-left: 320px;
}

.mainbar.show{
    margin-left: 100px;
    transition: left 0.5s ease-in-out;
    
}

.search{
    margin-top: -30px;
    width: 95%;
    height: 50px;
}

.search input {
    float: right;
    width: 99%;
    border: none;
    border-radius: 5px;
    height: 45px;
    padding: 0 0 0 1%;
}

.search input:focus {
    outline-style: none;
}

@media screen and (min-width:920px){
    .banner {
        width: 95%;
        color: #fff;
        border-radius: 10px;
        background: rgb(254,79,80);
        background: linear-gradient(323deg, 
            rgba(254,79,80,1) 0%, 
            rgba(255,79,79,1) 0%, 
            rgba(83,73,237,0.8057598039215687) 35%);
        height: 170px;
        margin-top: 50px;

        
    }  
    
    .banner-txt{
        float: left;
        margin-left: 50px;
        margin-top: 20px;
    }
    
    .banner-txt h1{
       font-size: 40px;
    }
    
    .banner-txt p{
        font: size 30px;;
        line-height: 50px;
    }
    
    
    .banner-img img{
        
        width: 200px;
        float: right;
        margin-top: -52px;
    }
    
}

@media screen and (max-width:920px){
	.banner{
        width: 0px;
        display: none;
    }

    .banner-txt{
        display: none;
    }
    
    .banner-txt h1{
        display: none;
    }
    
    .banner-txt p{
        display: none;
    }
    
    
    .banner-img img{
        display: none;
    }
}

/* new */
.cardcontainer {
    padding-top: 50px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-food {
    background-color: #fff;
    max-width: 280px;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}
.header-card {
    display: flex;
    align-items: center;
}
.header-card .detail {
    margin: 0 15px;
}
.detail p {
    margin: 2px;
}
.detail p:last-child {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.6);
}
.header-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.btn-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.detail_btn {
    height: 60%;
    width: 90px;
    border: none;
    background-color: #5349ed;
    border-radius: 30px;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
    transform: translate(0,0);
    transition-duration: .1s;
}
.detail_btn:active{
    box-shadow: none;
    transform: translate(2px,2px);
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
button i {
    font-size: 20px;
}

.none {
    display: none;
}
.detail_btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.notFound {
    width: 100%;
    display: inline;
    text-align: center;
    color: rgba(0, 0, 0, .5);
}
.time button {
    display: flex;
    align-items: center;
}
.time button span {
    margin-left: 5px;
}

.info-card{
    padding-top: 30px;
    padding-bottom: 30px;
}
.info p {
    font-weight: 300;
    text-align: left;
    line-height: .6cm;
}
.info{
    min-height: 150px;
}
.time {
    display: flex;
    align-items: center;
}


