@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body{
    background-color: #e8e7ff;
    font-family: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.menu-btn{
    position: absolute;
    top: 15px;
    left: 260px;
    height: 45px;
    width: 45px;
    text-align: center;
    background-color:white;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}

.menu-btn.click{
    left: 45px;
}

.menu-btn span{
    font-size: 28px;
    line-height: 45px;
}

.menu-btn.click span:before{
    content: '\f00d';
}

.sidebar{
    background-color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0px;
    transition: left 0.4s ease;
}

.sidebar.show{
    left: -250px;
}

.title{
    color: black;
    text-align: center;
    height:  15%;
    padding-top: 10px;
    font-size: 35px;
}

.title span{
    color: #5349ed;
    font-family: 'Dancing Script', cursive;
}

.menu{
    height: 75%;
    padding-left: 25px;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.menu ul{
    list-style-type: none;
}

.sub-menu{
    text-decoration: none;
}

.sub-menu:visited{
    color: black;
    padding-left: 10px;
}

.sub-menu:hover{
    color: #5349ed;
    padding-left: 10px;
}

.account{
    height: 10%;
    padding-left: 25px;
    line-height: 50px;
    font-size: 20px;
    
}

.account a{
    text-decoration: none;
    color: black;
}


.account a:visited{
    color: black;
    padding-left: 10px;
}


/* new */
.mainbar {
    padding-top: 80px;
    margin-left: 300px;
}

.mainbar.show{
    margin-left: 45px;
    transition: left 0.5s ease-in-out;
    
}

.search{    
    width: 100%;
    height: 50px;
}

.search input {
    width: 95%;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0 60px 0 20px;
}

.search input:focus {
    outline-style: none;
}



.none {
    display: none;
}
.detail_btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.notFound {
    width: 100%;
    display: inline;
    text-align: center;
    color: rgba(0, 0, 0, .5);
}
.time button {
    display: flex;
    align-items: center;
}
.time button span {
    margin-left: 5px;
}

.info-card{
    padding-top: 30px;
    padding-bottom: 30px;
}
.info p {
    font-weight: 300;
    text-align: left;
    line-height: .6cm;
}
.info{
    min-height: 150px;
}
.time {
    display: flex;
    align-items: center;
}

.slide-info{
    width: 95%;
    padding-top: 50px;
}

.main-info{
    padding-top: 50px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-info {
    background-color: #fff;
    width: 400px;
    margin: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

.img-info img{
    width: 400px;
}