@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body{
    background-color: #e8e7ff;
    font-family: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.menu-btn{
    position: absolute;
    top: 15px;
    left: 30px;
    height: 45px;
    width: 45px;
    text-align: center;
    background-color:white;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
    position: sticky;
}

.menu-btn.click{
    left: 260px;
}

.menu-btn span{
    font-size: 28px;
    line-height: 45px;
}

.menu-btn.click span:before{
    content: '\f00d';
}

.sidebar{
    top: 0px;
    background-color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px;
    transition: left 0.4s ease;
}

.sidebar.show{
    left: 0px;
}

.title{
    color: black;
    text-align: center;
    height:  15%;
    padding-top: 20px;
    font-size: 35px;
}

.title span{
    color: #5349ed;
    font-family: 'Dancing Script', cursive;
}

.menu{
    height: 70%;
    padding-top: 25px;
    margin-left: -7px;
    line-height: 60px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.menu ul{
    list-style-type: none;
}

.sub-menu{
    text-decoration: none;
    color: black;
}

.sub-menu-poin
 {
    border-left-color: #5349ed;
    border-left-style: solid;
    color: #5349ed;
    padding-left: 10px;
    text-decoration: none;
 }

.sub-menu:hover{
    color: #5349ed;
    padding-left: 10px;
}

.account{
    padding-top: 25px;
    text-align: center;
    height: 15%;
    margin-left: -20px;
    line-height: 50px;
    font-size: 25px;
}

.account a{
    text-decoration: none;
    padding-left: 5px;
    color: #5349ed;
}
.account i{
    color: #5349ed;
}


/* new */
.mainbar {
    margin-left: 100px;
    margin-top: -30px;
}


.mainbar.show{
    margin-left: 320px;
    transition: left 0.5s ease-in-out;
}


.card-info {
    background-color: #fff;
    width: 350px;
    cursor: pointer;
    margin: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    position: relative;
}
.img-info img{
    width: 100%;
    height: 200px;
}
.title-info{
    padding: 10px 10px;
}
.author {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding: 0 10px;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}

.container_artikel {
    border-radius: 10px;
    background-color: #fff;
    width: 95%;
    padding: 20px;
}
.title-Artikel {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.title-Artikel p {
    color: rgba(0, 0, 0, .5);
}
.banner {
    text-align: center;
}
.banner img {
    height: 500px;
    max-width: 80%;
    object-fit: cover;
    padding:20px 5px 20px 20px;
    margin-bottom: 50px;
}
.img_artikel {
    text-align: center;   
}
.img_artikel img {
    height: 500px;
    max-width: 80%; 
    object-fit: none;
}

.pendahuluan {
    line-height:30px;
    display: flex;
    justify-content:center;
    font-size: 18px;
}
.pendahuluan p {
    width: 90%;
    text-align: justify;
}
.container_artikel ol {
    font-size: 25px;
}
.content {
    font-size: 18px;
    line-height: 30px;
    text-align:justify;
    margin: 20px 0;
}
.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.author_detail {
    display: flex;
    justify-content: center;
}
.author_detail p{
    margin: 0 10px;
}

.judul {
    text-align: center;
    margin-top: 30px;
    border-bottom: .5px solid rgba(0, 0, 0, .3);
}
.btn_pagedetail {
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    position: absolute;
}
.search {
    display: none;
}
.li_artikel
{
    padding: 10%;
    padding-top: 50px;
}

.li_artikel img
{
    margin-top: 30px;
    margin-bottom: 30px;
}