@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background: rgb(83,73,237);
    background: linear-gradient(180deg, 
        rgba(83,73,237,1) 0%, 
        rgba(255,79,79,0.5172443977591037) 
        100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.register {
    width: 480px;
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forminput {
    width: 80%;
}
.forminput input[type=text],
.forminput input[type=email],
.forminput input[type=password] {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 13px 0;
    
}
.active {
    outline-style: solid;
    outline-color: red;
    outline-width: 1px;
}
.forminput input:focus {
    outline-style: none;
}

.forminput input[type=checkbox] {
    margin: 10px 0;
    margin-right: 7px;
}
.forminput button {
    width: 100%;
    height: 35px;
    margin: 10px 0 5px 0;
    border: none;
    color: #fff;
    background-color: #5349ed;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.3);
    transform: translate(0,0);
    transition-duration: .1s;
}

.forminput button:active {
    transform: translate(3px,3px);
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0);
    background-color: #0a0092;
    
}